# Data Science Tools and Ecosystem

In this notebook, we will summarize data science tools and ecosystem.

**Objectives**
- List popular languages for data science
- List commonly used libraries for data science
- List popular open source tools for data science

Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists include:
1. pandas
2. matplotlib 
3. numpy

| Data Science Tools |
| -------------|
| Hadoop |
| Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# this will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author
Michael Yu